<div class="row account_nav">
  <div class="col-md-4">
    <p>
      Welcome, new to Daft?
      <a href="#">Subscribe Now</a>
    </p>
  </div>

  <div class="col-md-6 col-md-offset-2">
    <!--form class="form-inline pull-right"-->

  <%= form_tag sessions_path, :class=>'form-inline pull-right' do |f| %>

    <% if user_signed_in? %>
      <div class='pull-right'>
      <%= current_user.email %>
      <%= link_to( 'Sign out', sessions_destroy_path, :class => 'btn btn-primary' ) %>

      <%= link_to( 'Create Article', new_article_path, :class=> 'btn btn-default' ) %>
    </div>
    <% else %>
      <%= text_field_tag :email, '', :class=>'form-control', :placeholder=>'Your Email' %>
      <div class="input-group">
      <%= text_field_tag :password, '', :class=>'form-control', :placeholder=>'Your Password' %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="circle">
              ?
            </span>
          </button>
        </span>
      </div>

  <%= submit_tag 'Log In', :class=>'btn btn-primary' %>
        <% end %>
      <% end %>

    </form>
  </div>
</div> <!-- Account Nav -->
